.footer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;    
}

.footer-container h2{
    font-size: 22px;
    margin-bottom: 10;
}

.footer-container .footer-left .footer-menu{
    list-style: none;
    text-decoration: none;
}

.footer-menu .footer-link{
    text-decoration: none;
}

.footer-left {
    margin-left: 12%;
}

.footer-menu a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.footer-menu a:hover{
    text-decoration: underline;
}

.footer-center p{
    font-size: 14px;
    font-weight: 400;
}

.footer-right{
    margin-right: 12%;
}

.footer-right p{
    font-size: 14px;
    font-weight: 400;
}

.footer-right p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer-bottom {
    background-color: #e7e7e7;
    padding: 10px 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
}